<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jeffmeyerson.moonstocks"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="5"
        android:targetSdkVersion="16" />

    <application
        android:icon="@drawable/moonstocks_icon"
        android:label="@string/app_name" >
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.SystemDetailsActivity"
            android:label="@string/title_activity_system_details" >
        </activity>
        <activity
            android:name=".activities.StockActivity"
            android:label="@string/title_activity_stock" >
        </activity>
        <activity
            android:name=".activities.NewsStandActivity"
            android:label="@string/title_activity_news_stand" >
        </activity>
        <activity
            android:name=".activities.NewsActivity"
            android:label="@string/title_activity_news" >
        </activity>
        <activity
            android:name=".activities.SplashActivity"
            android:label="@string/title_activity_splash" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>